.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.gameboard {
  padding: 20px;
}
.gameboard ul, .gameboard li {
  margin: 0;
  padding: 0;
}
.gameboard .rows>li {
  display: table-row;
}
.gameboard .cell {
  border: 1px solid black;
  display: table-cell;
  height: 2em;
  width: 2em;
}
.has-snake {
  background-color: green;
}
.has-apple {
  background-color: red;
}

.pause-play.playing .play {display: inline; }
.pause-play.playing .pause {display: none; }
.pause-play .play {display: none; }
.pause-play .pause {display: inline; }

@keyframes blink {to {visibility: hidden; } }
@-webkit-keyframes blink {to {visibility: hidden; } }
@-moz-keyframes blink {to {visibility: hidden; } }
.death {
    animation: blink 1s steps(5, start) infinite;
    -moz-animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}
.death:before {
    content: "Game Over";
    font-size: 3em;
    position: relative;
    left: 1em;
    top: 3.5em;
    background-color: blueviolet;
};